header{
    height: 100vh;
    padding: 2rem 7rem;
    overflow: hidden;
}

.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}

// CTA CSS
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

// Header Socials
.header_social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

.header_social::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}


// Image ME
.me{
    background: linear-gradient(var(--color-primary),transparent);
    width: 22rem;
    height: 30rem;
    margin: 0 auto;
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
}

// Scroll Down
.scroll_down{
    position: absolute;
    right: -2rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}


// Media Queries
@media screen and (max-width: 1024px){
    header{
        padding: 1rem;
        height: auto;
    }
    .cta{
        margin-top: 1rem;
    }
    .scroll_down{
        display: none;
    }
    .header_social{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        position: relative;
        margin-top: 2rem;
        height: fit-content;
    }
    .me{
        margin-top: 2rem;
    }
}
